.productsWrapper {
  margin: 0 auto;
}

.productsTitle {
  text-align: center;
}

.products {
  margin: 50px auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  justify-content: center;
  gap: 50px 20px;
}
