.productItem {
  display: grid;
  grid-template-rows: auto 1fr auto 30px;
}
.productImg {
  width: 100%;
}

.productTitle {
  font-size: 1rem;
  align-self: start;
}

.productPrice {
  color: var(--grays-3);
  font-size: 0.9rem;
}

.addToCartButton {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
  border: none;
}
