@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --branding: #231f20;
  --branding-light: #414042;
  --yellow: #fff200;
  --dark-yellow: #fabc03;
  --black: #131313;
  --white: #f9f9f9;
  --grays-1: #3b3b3b;
  --grays-2: #515151;
  --grays-3: #626262;
  --grays-4: #7e7e7e;
  --grays-5: #9e9e9e;
  --grays-6: #cfcfcf;
  --grays-7: #e3e3e3;
  --grays-8: #f3f3f3;
}

body {
  margin: 0;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
