.nav {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 40px;
  background-color: var(--background);
  width: 100%;
  background-color: var(--black);
}

.logo {
  color: var(--dark-yellow);
  margin: 0;
  font-size: 1.3rem;
}

.logoImg {
  height: 25px;
  margin-right: 8px;
}

.cartButton {
  cursor: pointer;
  background: none;
  border: none;
  svg {
    width: 35px;
    height: 35px;
    fill: var(--dark-yellow);
  }
}

.itemsInCart {
  color: var(--white);
}
