.item {
  list-style-type: none;
  padding: 20px 0;
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 110px 1fr;
  border-bottom: 1px solid;
  :last-of-type {
    border-bottom: none;
  }
  img {
    width: 100%;
  }
}

.deleteButton {
  background: var(--white);
  border-radius: 100%;
  font-size: 18px;
  color: var(--grays-5);
  border: none;
  position: absolute;
  top: 25px;
  left: 6px;
}

.itemDetails {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: end;
}

.itemTitle {
  font-size: 0.9rem;
  grid-column: span 2;
  align-self: start;
  margin: 0;
}

.itemPrice {
  align-self: end;
}

.itemFullPrice {
  justify-content: space-between;
}

.quantityButton {
  background: none;
  border: none;
  margin: 0 5px;
}
