.item {
  list-style-type: none;
  padding: 20px 0;
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-columns: 100px 1fr;
  border-bottom: 1px solid var(--grays-6);
  img {
    width: 100%;
  }
}

.deleteButton {
  background: var(--white);
  border-radius: 100%;
  font-size: 18px;
  color: var(--grays-5);
  border: none;
  position: absolute;
  top: 25px;
  left: 6px;
}

.itemDetails {
  font-size: 0.8rem;
  display: grid;
  text-align: center;
  justify-items: center;
  grid-template-rows: 1fr 30px 30px;
  align-items: end;
}

.itemTitle {
  font-size: 0.9rem;
  align-self: start;
  margin: 0;
}

.itemPrice {
  color: var(--grays-2);
}

.itemFullPrice {
  justify-content: space-between;
}

.quantityButton {
  background: var(--grays-6);
  padding: 5px 10px;
  border: none;
  margin: 0 5px;
  color: var(--grays-2);
}
